<%- include('partials/header')  -%>

<title>Speaks</title>
</head>

<body>
  <%- include('partials/nav')  -%>

  <div class="about center add-top">
    <h1 class="speaks">Speaks</h1>
    <h3>Hello!</h3>
    <p>My name is <strong>Anggi Dastariana</strong></p>
    <p><strong>Speaks</strong> is my first "go live" server-side rendering website project</p>
    <p>I make this website with NodeJS, ExpressJS, and PostgreSQL</p>
    <p>All styling in this website is using native CSS.</p><br>
    <p>Source code of this website is available at my github repository <a href="https://github.com/anggidast/speaks-app">here</a>.</p>
  </div>

</body>

</html>